{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        {% for row in articles|batch(3) %}
        <div class="row">
            {% for article in row %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/{{ article.image.name }}">
                    <div class="card-body">
                        <h1 class="card-title">{{ article.libelle }}</h1>
                        <p class="card-text">{{ article.description }}</p>
                        <p>{{ article.prixU }}</p>
                    </div>
                    <div class="card-footer ">
                        <button type="button" class="btn btn-light" onclick="window.location.href='{{ path('article_show', {id: article.id}) }}';">
                           Voir
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>


{% endblock %}
