{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article class="card mb-4">

                    <!-- Produits dans le panier -->

                    <div class="card-body">
                        <h4 class="card-title mb-4">Récapitulatif de commande</h4>
                        <div class="row">
                            <div class="col-md-6">
                                {% for ligne in panier %}
                                    <figure class="itemside  mb-4">
                                        <div class="aside"><img src="./images/{{ ligne.article.image.name }}" class="border img-sm"></div>
                                        <figcaption class="info">
                                            <p>{{ ligne.article.libelle }}</p>
                                            <span class="text-muted">{{ ligne.article.prixU * ligne.quantity }}€ </span>
                                        </figcaption>
                                    </figure>
                                {% endfor %}
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->
                </article>
                    <!-- Adresse -->

                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Adresse de livraison</h4>
                            <form action="">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>City*</label>
                                        {% if adresses is empty %}
                                            <p>Vous n'avez pas d'adresse enregistrée</p>
                                        {% else %}
                                            <select id='adresse' class="form-control">
                                                {% for adresse in adresses %}
                                                    <option value={{adresse.id}}>{{adresse.adresse}} {{adresse.cp}} {{adresse.ville}} {{adresse.pays}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                        <a href='{{ path('adresse_create') }}' class="btn btn-outline-dark m-3">Créer une nouvelle adresse ?</a>
                                    </div>
                                </div> <!-- row.// -->
                            </form>
                        </div> <!-- card-body.// -->
                    </article>
            </main>
            <aside class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="h5">{{ prixTot }}€</dd>
                        </dl>
                        <hr>
                        <button class="btn btn-primary btn-block" id='valide'> Passer commande </button>

                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside>
        </div>
    </div>
</section>
    {% block javascript %}<script src="/js/validationCommande.js"></script>{% endblock %}
{% endblock %}
