<header class="section-header">
    <section class="border-bottom">
        <nav class="navbar navbar-main navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('accueil') }}">Traiteur</a>

                <a href="" class="btn btn-light d-md-none">My cart (2)</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav1" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="main_nav1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('accueil') }}">Accueil </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('produits')}}">Produits</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin') }}">Administrateur</a>
                            </li>
                        {% endif %}
                    </ul>


                    <div class="widgets-wrap d-none d-md-block">
                        <a href="{{ path('panier') }}" class="widget-header">
                            <div class="icon">
                                <i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
                            </div>
                        </a>

                        <div class="widget-header">
                            <small class="title text-muted">Welcome guest!</small>
                            <div>
                                {% if app.user %}
                                    <a href="{{ path('app_logout')}}">Se déconnecter</a>
                                {% else %}
                                    <a href="{{ path('app_login')}}">Se connecter</a> <span class="dark-transp"> | </span>
                                    <a href="{{ path('user_registration')}}">S'inscrire</a>
                                {% endif %}
                            </div>
                        </div>
                    </div> <!-- widgets-wrap.// -->

                </div> <!-- collapse .// -->

            </div> <!-- container .// -->
        </nav>
    </section> <!-- header-main .// -->
</header>

