{% extends "base.html.twig" %}

{% block title %}Création de produit{% endblock %}
{% block body %}
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="card">
                <article class="card-body">
                    <header class="mb-4">
                        <h4 class="card-title">Création de produit</h4>
                    </header>
                    <form class="block-register">
                        {{ form_start(form) }}
                        <div class="form-group form-row">
                            {{ form_row(form.libelle) }}
                        </div>
                        <div class="form-group form-row">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="form-group form-row">
                            {{ form_row(form.prixU) }}
                        </div>
                        <div class="form-group form-row">
                            {{ form_row(form.typeArticle) }}
                        </div>
                        <div class="form-group form-row">
                            {{ form_row(form.imageFile) }}
                        </div>

                        <div class="form-row mb-2">
                            <button type="submit" class="btn btn-primary">Créer</button>
                        </div>
                        {{ form_end(form) }}

                    </form>
                </article> <!-- card-body end .// -->
            </div>
        </div>
    </section>

{% endblock %}