{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <section class="section-content padding-y bg">
        <div class="container">
            {% for row in articles|batch(3) %}
                <div class="row">
                    {% for article in row %}
                        <div class="col-md-4 col-sm-6">
                            <figure class="card card-product-grid">
                                <div class="img-wrap"> <img src="/images/{{ article.image.name }}"> </div>
                                <figcaption class="info-wrap border-top">
                                    <a href="{{ path('article_show', {id: article.id}) }}" class="title">{{ article.libelle }}</a>
                                    <div class="mt-2">
                                        <var class="price">{{ article.prixU }} €</var> <!-- price-wrap.// -->
                                        <a href="{{ path('panier_add', {id: article.id}) }}" class="btn btn-sm btn-outline-primary float-right"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </figcaption>
                            </figure> <!-- card // -->
                        </div> <!-- col.// -->
                    {% endfor %}
                </div><!-- row.// -->
            {% endfor %}
        </div>
    </section>
{% endblock %}
