{% extends "base.html.twig" %}

{% block title %}Types d'Articles{% endblock %}
{% block body %}
    <button>
        <a href="{{ path('type_article_create')}}">Create</a>
    </button>
    <table>
        <tr>
            <th>N°</th>
            <th>Libellé</th>
            <th>Catégorie</th>
            <th></th>
        </tr>
        {% for t in types %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.libelle }}</td>
                <td>{{ t.categorie.libelle }}</td>
                <td>
                    <a href="{{ path('article_edit', {id: t.id}) }}">Edit</a>
                    <a href="{{ path('type_article_delete', {id: t.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}